#form2Example17{
    border-right: none;
    border-left: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: transparent;
    border-radius: none;
    width: 80%;
}
#formule{
background-color: rgb(80, 152, 185);
}